@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans; /* This applies DM Sans to the entire body */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "@fortawesome/fontawesome-free/css/all.min.css";

.hover-text-effect {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
}

.hover-text-effect::before {
  content: attr(data-text);
  position: absolute;
  color: #ef4444; /* Tailwind red-500 */
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s ease;
  left: 0; /* Changed from right to left */
  top: 9px;
}

.hover-text-effect:hover::before {
  width: 100%;
}
